$base-font: $lato;

img{
    max-width: 100%;
}

body{
    font-family: $base-font;
    font-weight: $font-weight-medium;
    
}

h2{
    font-size: 3rem;
    line-height: 4.5rem;
    letter-spacing: 5px;
    font-family: $bodoni-book;
    
    &:after{
        content: '';
        position: relative;
        display: block;
        margin-top: 5px ;
        margin-bottom: 4.3rem;
        width: 74px;
        height: 1px;
        border:  1px solid $primary;
       
    }
}

