
footer{
    padding-top: 4.9rem;
    padding-bottom:2.5rem ;
    
    
    .social{
      
        a{
           text-decoration: none;
            font-size: 2.5rem;
            transition: 1s linear;
            margin-right: 33px;
            
            &:hover{
                transform: rotate(360deg);
            }
        }
    }// social end

    .copyright{
         margin-top: 1.9rem;
        font-size: 1.2rem;
        font-weight: $font-weight-medium;
        line-height: 4.1rem;
        letter-spacing: -0.17px;
        a{
            color: $primary;
        }
        
      
    }    
    
    
}
